:root {
  --color-fondo: #141414;
  --color-fondo-card: #1e1e1e;
  --color-fondo-suave: #2a2a2a;

  --color-texto: #ffffff;
  --color-texto-suave: #a0a0a0;
  --color-texto-muted: #6b6b6b;

  --color-acento: #bb0a14;
  --color-acento-hover: #990008;

  --color-borde: #2e2e2e;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  background-color: var(--color-fondo);
  color: var(--color-texto);
}

img {
  max-width: 100%;
  display: block;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.btn-primario {
  background-color: var(--color-acento);
  color: var(--color-texto);
  border: none;

  padding: 10px 24px;
  font-size: 0.85rem;
  cursor: pointer;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: background-color 0.3s ease;
}

.btn-primario:hover {
  background-color: var(--color-acento-hover);
}
.btn-secundario {
  background-color: transparent;
  color: var(--color-texto);
  border: 1px solid var(--color-texto);
  padding: 12px 28px;
  cursor: pointer;
  font-size: 0.9rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: all 0.3s ease;
}
.btn-secundario:hover {
  background-color: var(--color-texto);
  color: var(--color-fondo);
}
h1,
h2,
h3,
h4 {
  font-weight: 400;
  letter-spacing: 1px;
}

h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

h3 {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}

p {
  color: var(--color-texto-suave);
  line-height: 1.7;
}
